* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000;
}

nav {
  width: 1280px;
  height: 76px;
  margin: 16px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav>.logo {
  width: 129px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>.menu {
  width: 440px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  width: 250px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons>.btn {
  border-radius: 40px;
  padding: 8px 32px;
}

.auth-buttons>.sign-up {
  border: 2px solid #f53855;
}

/* about */

.about {
  width: 1280px;
  height: 478px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-left,
.about-right,
.about-right>img {
  width: 560px;
  height: 350px;
}

.about-left>h1 {
  font-size: 50px;
}

.about-left>button {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f53855;
  color: #fff;
  border-radius: 10px;
}

/* status-container */
.status-container {
  width: 1152px;
  height: 176px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status-container>.stat-box {
  border-left: 2px solid rgb(0, 0, 0, 0.1);
  border-right: 2px solid rgb(0, 0, 0, 0.1);
  width: 384px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-container .box-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-container .box-in img {
  padding-right: 20px;
}
/* ====main-1====== */
.main-1 {
  width: 1152px;
  height: 453px;
  margin: auto;
  display: flex;
  padding: 16px;
  margin-top: 40px;
  gap: 32px;
}

.main-1 .img {
  width: 552px;
  height: 431px;
}

.main-1 .img img {
  width: 552px;
  height: 431px;

}

.main-1 .teks {
  width: 560px;
  height: 431px;
  padding-left: 140px;
}

.teks h3 {
  width: 350px;
  height: 80px;
  font-size: 30px;
}

.teks p {
  color: gray;
  margin-bottom: 10px;
  font-size: 15px;
}

.teks i {
  background-color: green;
  border-radius: 50%;
  padding: 0px 0px 5px;
  color: white;
  margin-right: 5px;
  margin-top: 10px;
}

.teks small {
  color: gray;
}
/* ====main-2====== */
.main-2 {
  width: 1152px;
  height: 950px;
  margin: auto;
  margin-top: 20px;
  
}
.main-2 .box {
  display: flex;
  justify-content: space-around;
}
.main-2 .div1 {
  text-align: center;
}
.main-2 .div1 h4 {
  font-size: 30px;
  font-weight: 400;
}
.main-2 .div1 small {
  color: gray;
}
.main-2 .box1 {
    width: 370px;
    height: 836px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    padding: 60px;
}
.main-2 .box1 img {
  width: 159px;
  height: 182px;
}
.main-2 .box1 .div2 p {
  color: gray;
  margin-top: 30px;
  margin-bottom: 40px;
}
.main-2 .box1 small {
  color: gray;
}
.main-2 .box1 i {
  margin-top: 20px;
  color: green;
  margin-right: 10px;
}
.main-2 .box1 .div3  {
  margin-top: 220px;
}
.main-2 .box1 .div3 p {
  color: gray;
  margin-bottom: 30px;
  font-size: 25px;
}
.main-2 .box1 .div3 button {
  width: 131px;
  height: 49px;
  border: 1px solid red;
  border-radius: 20px;
  background-color: white;
  color: red;
}
/* =======main-3========== */
/* ======================= */
.main-3 {
  width: 1152px;
  height: 740px;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  
}
.main-3 .h5 {
  width: 384px;
  height: 150px;
  margin: auto;
  text-align: center;
}
.main-3 .h5 h5 {
  font-size: 35px;
  font-weight: 300;
}
.main-3 .h5 p {
  color: gray;
}
.main-3 .box4 {
  width: 1088px;
  height: 553px;
  margin: auto;
  padding: 30px;
}
.main-3 .box4 img {
  width: 1000px;
  height: 553px;
}
/* ======main-4===== */
/* ================= */
.main-4  {
  width: 1152px;
  height: 80px;
  border: 1px solid red;
  margin: auto;

}

